<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin Panel{% endblock %}</title>
    <link rel="icon" type="image/png" href="/static/graphics/favicon.png">

    <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>
<body>
    <header>
        {% if not hide_nav %}

        <nav>
            <a href="/admin/panel">Home</a> |
            <a href="/admin/users">Users</a> |
            <a href="/admin/logout">Logout</a>
        </nav>
        <hr>

        {% endif %}
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

</body>
</html>
